<div class="col-md-9 wrapper pb-5 float-md-right">
  <div class="container itemContainer">
    <div class="col-sm-12">
      <div class="pt-5">
        <div class="input-group">
          <input class="form-control py-2 mr-1 pr-5" placeholder="Search..." type="search" [(ngModel)]="title" id="search-input">
          <span class="input-group-append">
            <button class="btn rounded-pill ml-n5" type="button">
                <img src="../../../assets/Path%203560.svg" class="itemContainer__searchBox" alt="search">
            </button>
          </span>
        </div>
      </div>
      <div *ngFor="let item of itemsTreeView | search:title; let i = index">
        <app-tree [model]="itemsTreeView[i] | search:title"></app-tree>
      </div>
    </div>
  </div>
</div>
