$container-color: #F4F9FC;
$element-color: #FFFFFF;
$search-box-border-color: #00000029;
$button-background-color: #0087EF;
$text-color: #4C6C83;
$name-color: #002D4F;
$border-color: #EAEEF4;

@mixin border {
  border: 1px solid $border-color;
}

@mixin fontSize($a, $b) {
  font: light $a + px / $b + px;
  letter-spacing: 0;
  opacity: 1;
}

body {
  font-family: 'Soleil', sans-serif;
}

.header {
  background-color: $element-color;
  @include border;
}

.header__profileText {
  @include fontSize(14,17);
}
