$container-color: #F4F9FC;
$element-color: #FFFFFF;
$search-box-border-color: #00000029;
$button-background-color: #0087EF;
$text-color: #4C6C83;
$name-color: #002D4F;
$border-color: #EAEEF4;

body {
  font-family: 'Soleil', sans-serif;
}
